openapi: 3.0.1
info:
  title: osm-change-generator-server
  description: A restful API for generating osm-change based on the diff between geojson and osm entity
  version: 0.1.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: http://localhost:8080
paths:
  '/change':
    post:
      summary: Generates an osm-change based on external geojson and osm entity
      tags:
        - change
      requestBody:
        description: A JSON containing the geojson and an old osm entity if exists
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/NodeChangeRequestBody'
                - $ref: '#/components/schemas/WayChangeRequestBody'
      responses:
        201:
          description: Change Generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OsmChange'
        400:
          $ref: '#/components/responses/BadRequest'
        422:
          $ref: '#/components/responses/UnprocessableEntity'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnexpectedError:
      description: Unexpected Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    BaseOsmElement:
      type: object
      required:
        - type
        - id
      properties:
        type:
          type: string
          enum:
            - node
            - way
            - relation
        id:
          type: integer
          format: int64
          minimum: 0
          example: 666
          exclusiveMinimum: true
        timestamp:
          type: string
        version:
          type: number
        changeset:
          type: number
        user:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
    OsmNode:
      allOf:
        - $ref: '#/components/schemas/BaseOsmElement'
        - type: object
          required:
            - lat
            - lon
          properties:
            type:
              type: string
              enum:
                - node
            lat:
              type: number
            lon:
              type: number
    OsmWay:
      allOf:
        - $ref: '#/components/schemas/BaseOsmElement'
        - type: object
          required:
            - nodes
          properties:
            type:
              type: string
              enum:
                - way
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/OsmNode'
    OsmElement:
      oneOf:
        - $ref: '#/components/schemas/OsmNode'
        - $ref: '#/components/schemas/OsmWay'
    OsmChange:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - osmchange
        version:
          type: string
        generator:
          type: string
        create:
          type: array
          items:
            $ref: '#/components/schemas/OsmElement'
        modify:
          type: array
          items:
            $ref: '#/components/schemas/OsmElement'
        delete:
          type: array
          items:
            $ref: '#/components/schemas/OsmElement'
    BaseGeojson:
      type: object
      required:
        - type
        - properties
        - geometry
      properties:
        type:
          type: string
          enum:
            - Feature
        properties:
          type: object
        geometry:
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - Point
                - LineString
                - Polygon
            coordinates:
              type: array
              items: {}
            bbox:
              type: array
              minItems: 4
              items:
                type: number
        bbox:
          type: array
          minItems: 4
          items:
            type: number
    GeojsonPoint:
      allOf:
        - $ref: '#/components/schemas/BaseGeojson'
        - type: object
          properties:
            geometry:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - Point
                coordinates:
                  type: array
                  minItems: 2
                  items:
                    type: number
    GeojsonLineString:
      allOf:
        - $ref: '#/components/schemas/BaseGeojson'
        - type: object
          properties:
            geometry:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - LineString
                coordinates:
                  type: array
                  minItems: 2
                  items:
                    type: array
                    minItems: 2
                    items:
                      type: number
    GeojsonPolygon:
      allOf:
        - $ref: '#/components/schemas/BaseGeojson'
        - type: object
          properties:
            geometry:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - Polygon
                coordinates:
                  type: array
                  items:
                    type: array
                    minItems: 4
                    items:
                      type: array
                      minItems: 2
                      items:
                        type: number
    NodeChangeRequestBody:
      type: object
      properties:
        geojson:
          $ref: '#/components/schemas/GeojsonPoint'
        osmEntity:
          $ref: '#/components/schemas/OsmNode'
    WayChangeRequestBody:
      type: object
      properties:
        geojson:
          oneOf:
            - $ref: '#/components/schemas/GeojsonLineString'
            - $ref: '#/components/schemas/GeojsonPolygon'
        osmEntity:
          $ref: '#/components/schemas/OsmWay'
