{{- $chartName := include "change-generator.name" . -}}
{{- $tracingUrl := include "change-generator.tracingUrl" . -}}
{{- $metricsUrl := include "change-generator.metricsUrl" . -}}
{{- if .Values.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-{{ $chartName }}-configmap
data:
  REQUEST_PAYLOAD_LIMIT: {{ .Values.env.requestPayloadLimit | quote }}
  RESPONSE_COMPRESSION_ENABLED: {{ .Values.env.responseCompressionEnabled | quote }}
  LOG_LEVEL: {{ .Values.env.logLevel | quote }}
  LOG_PRETTY_PRINT_ENABLED: 'false'
  {{ if .Values.env.tracing.enabled }}
  TELEMETRY_TRACING_ENABLED: 'true'
  TELEMETRY_TRACING_URL: {{ $tracingUrl }}
  TELEMETRY_TRACING_RATIO: {{ .Values.env.tracing.ratio | quote }}
  {{ end }}
  {{ if .Values.env.metrics.enabled }}
  TELEMETRY_METRICS_ENABLED: 'true'
  TELEMETRY_METRICS_URL: {{ $metricsUrl }}
  {{ end }}
  {{- if .Values.env.shouldHandleLOD2 }}
  APP_SHOULD_HANDLE_LOD2: 'true'
  {{- else }}
  APP_SHOULD_HANDLE_LOD2: 'false'
  {{- end }}
  {{- if .Values.env.shouldHandlePrecision }}
  APP_SHOULD_HANDLE_PRECISION: 'true'
  {{- else }}
  APP_SHOULD_HANDLE_PRECISION: 'false'
  {{- end }}
{{- end }}
