name: Build-and-push

on:
  create:
    tags:

jobs:

  Build-and-push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Azure Pipelines Action
        uses: Azure/pipelines@v1
        with:
         azure-devops-project-url: https://dev.azure.com/Libot-Mipui-Org/osm-change-generator-server
         azure-pipeline-name: 'build-and-push-to-ACR'
         azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
